{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}تغییر گذرواژه{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <label for="current_password">گذرواژه فعلی</label>
    <input type="password" name="current_password" id="current_password" required>
    <label for="new_password">گذرواژه جدید</label>
    <input type="password" name="new_password" id="new_password" required>
    <label for="new_password_repeated">تکرار گذرواژه جدید</label>
    <input type="password" name="new_password_repeated" id="new_password_repeated" required>
    <input type="submit" value="تایید">
  </form>
{% endblock %}
